{% extends 'base-copywebsite.html' %}

{% block body %}
<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h3>Untuk melihat alat apa saja yang tersedia, silahkan klik menu di atas</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <p>
        Jika alat ini bermanfaat, sebarkan ke orang lain.
      </p>
      <p>Untuk biaya operasional sewa server alat ini, kita keluar biaya USD$7/bulan. Silahkan bantu operasional sewa server di <a href="https://saweria.co/hapesurya" target="_blank">https://saweria.co/hapesurya</a></p>
    </div>
  </div>
</div>
{% endblock %}
